data/indices
data/mapped_reads
data/prefilter
data/genome_bins
data/distributed_reads
data/genomes/*
!data/genomes/place_genome_fasta_files_here.txt
data/queries.fastq
logs
benchmarks
tools
.snakemake
*test*